// paddings
lr-padding = 15px
tb-padding = 10px


// margins
lr-margin = 10px
tb-margin = 15px

navbar-height = 68px


// z index
max-z = 99999
high-z = 1000
mid-z = 500
low-z = 100
one-up-z = 10
negative-z = -1
