@import '../../../styles'

.home
  .hero
    height 600px
    background-color alpha(black, 40%)
    *
      color white
    .title
      center(600px)
      text-align center
      h1
        font-size 3rem
      h3
        font-size 2rem
      *
        font-weight 300
  .items
    center(600px)
