@import '../styles'
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

html
body
  height 100%

body
  font-family 'Roboto', sans-serif
  background-color bg-color
  *
    box-sizing border-box
