@import '../../../styles'

.blog
  center(960px)
  .header
    *
      text-align center
      font-size 2.5rem
      font-weight 300
  .posts
    margin-top 40px
    .post
      background-color white
      margin-bottom tb-margin
      position relative
      makeShadow(1)
      col(1/3, 0, 3)
      .post-img
        overflow hidden
        height 200px
        img
          width 100%
          transition transform .5s ease-in-out .5s
          &:hover
            transform scale(1.1)
      .post-title
        padding tb-padding lr-padding
        background-color bg-color
      .post-author
        padding tb-padding lr-padding
        *
          font-weight 200
      .action
        position absolute
        right 10px
        bottom 14px
  .search
    center(300px)

