<section class="blog">
  <div class="header">
    <h1>{{ vm.message }}</h1>
  </div>
  <div class="search">
    <textbox bind-to="vm.search" label="SEARCH"></textbox>
  </div>
  <div class="posts">
    <div ng-repeat="post in vm.posts | filter:vm.search" class="post slide">
      <div class="post-img">
        <img ng-src="{{ ::vm.catpic }}" alt="kitten">
      </div>
      <div class="post-title">
        <span>{{ post.title }}</span>
      </div>
      <div class="post-author">
        <span>{{ post.author }}</span>
      </div>
      <button ui-sref="blogPost({title: post.slug})" class="button fab action">></button>
    </div>
  </div>
</section>
